<div class="tagline center">
    <h1 class="tagline-heading center">
        <span class="tagline-join">
            <span class="tagline-keyword">Join</span> <span class="tagline-text">the Challenge</span>
        </span>
        <span class="tagline-tag">
            <span class="tagline-keyword">Tag</span> <span class="tagline-text">your posts</span>
        </span>
        <span class="tagline-earn">
            <span class="tagline-keyword">Earn</span> <span class="tagline-text">money</span>
        </span>
    </h1>
</div>
