@import "../variables/colors.scss";

.featured-challenges {

  .challenge {
    border: 1px solid #D5D5D5;
  }

  .challenge-link {
    position: absolute;
    top: -30px;
    left: 6px;

    transform: rotate(-1deg);
  }

  .challenge-hash {
    font-size: 1.4rem;
    letter-spacing: 0.23px;
  }

  .challenge-hashTag {
    padding: 0 3px;

    position: relative;

    background: $black;
    color: $pink;
    font-size: 2.8rem;
    font-weight: bold;
    letter-spacing: 0.45px;
  }

  .challenge-hashTag::after {
    content: ' ';
    width: 100%;

    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;

    background: $pink;
    transform: rotate(-2deg) translateZ(0);
  }

  .challenge-thumbnail {
    width: 100%;
    padding-top: 100%;

    background: #F4F4F4;
  }

  .challenge-details {
    padding: 2rem;

    position: relative;
  }

  .detail-icon {
    color: $pink;
  }

  .featured-challenges-actions {
    margin-top: 60px;
    margin-bottom: 40px;

    .button {
      background: $blue;
    }
  }
}