@import "../variables/colors.scss";
@import "../variables/grid.scss";

$footer-link-color: #6c6c6c;

.page-footer {
  padding-top: 5.0rem;
  padding-bottom: 5.0rem;

  line-height: calc($baseline * 6);

  .copy {
    font-size: 1.4rem;
    text-align: right;
  }

  .footer-heading {
    margin-bottom: 0;

    color: $pink;
    font-size: calc($baseline * 4);
    font-weight: 400;
  }

  .footer-link {
    display: block;

    padding-top: calc($baseline * 2);

    color: $footer-link-color;
  }
}