.section {
  padding-top: 5.0rem;
  padding-bottom: 5.0rem;

  .section-heading {
    padding-bottom: 30px;

    font-size: 4.0rem;
    font-weight: bold;
    letter-spacing: 0.65px;
    line-height: 4.7rem;
  }
}