.stats {
  padding-top: 5.0rem;
  padding-bottom: 5.0rem;

  background: #FAFAFA;

  .stat {
    text-align: center;
  }

  .stat-name {
    margin-bottom: calc($baseline * 6);

    color: #4F4F4F;
    font-size: calc($baseline * 5);
    line-height: calc($baseline * 6);
  }

  .stat-value {
    font-size: calc($baseline * 10);
    line-height: calc($baseline * 10);

    font-weight: bold;
  }
}