@import "../variables/colors.scss";

.tagline {

  .tagline-heading {
    width: 233px;
    height: 233px;

    position: relative;

    background: $black;

    transform: rotate(3deg);
  }

  .tagline-earn,
  .tagline-join,
  .tagline-tag {
    padding: 0 3px;

    background: $pink;
    letter-spacing: 0.17px;
    line-height: 1;
    white-space: nowrap;

    position: absolute;
  }

  .tagline-join {
    top: 30px;
    left: -5px;

    transform: rotate(-1deg);
  }

  .tagline-tag {
    top: 100px;
    right: -5px;

    transform: rotate(2deg);
  }

  .tagline-earn {
    bottom: 30px;
    left: -3px;
    transform: rotate(-3.3deg);
  }

  .tagline-keyword {
    font-size: 4.0rem;
    font-weight: bold;
  }
  .tagline-text {
    margin-left: 2px;

    font-size: 2.4rem;
    font-weight: normal;
  }
}