{% extends "::base.html.twig" %}

{% block body %}
    <h1>Hier komt nog iets.</h1>
    <a href="{{ path('challenges') }}">All challenges</a>


    {% for challenge in featured_challenges %}
        <a href="{{ path('challenge', {'slug': challenge.slug}) }}">
            <span>{{ challenge.name }}</span>
            <span>&euro; {{ challenge.prize }}</span>
        </a>
    {% endfor %}

{% endblock body %}