{% extends "::base.html.twig" %}

{% block body %}
    <section class="hero text-center">
        <div>
            <div class="row">
                <div class="tagline center">
                    <h1>
                        <span class="tagline-keyword">Join</span> <span class="tagline-text">a challenge</span><br />
                        <span class="tagline-keyword">Tag</span> <span class="tagline-text">your posts</span><br />
                        <span class="tagline-keyword">Earn</span> <span class="tagline-text">money</span>
                    </h1>
                </div>
            </div>
            <div class="row">
                <a class="button large" href="">Sign up now</a>
            </div>
        </div>
    </section>
    {% include "default/blocks/stats.html.twig" %}
    <section class="section featured-challenges">
        <header class="row section-header text-center">
            <h2 class="section-heading">{% trans %}challenge.new{% endtrans %}</h2>
        </header>
        <div class="row">

            {% for challenge in newest_challenges %}
                {% include 'challenge/blocks/featured_challenge.html.twig' with {'challenge': challenge} %}
            {% endfor %}

        </div>
        <div class="row text-center">
            <a class="button large" href="{{ path('challenge_list_page') }}">View all challenges</a>
        </div>
    </section>
    {% include "default/blocks/how_it_works.html.twig" %}
{% endblock body %}
