{% extends "::base.html.twig" %}

{% block body %}
    <section class="hero text-center ratio ratio--16-7">
        <div class="ratio-content vertical-center">
            <div class="row">
                <div class="tagline center">
                    {% include "components/tagline.html.twig" %}
                </div>
            </div>
            <div class="row hero-actions">
                <a class="button large" href="">Sign up now</a>
            </div>
        </div>
    </section>
    {% include "components/stats.html.twig" with { 'stats': [
        { 'name': 'Paid out', 'value': '&euro;' ~ 12345|currency },
        { 'name': 'Earnings pool', 'value': '&euro;' ~ 30000|currency },
        { 'name': 'Next challenge', 'value': '4 days' }
    ] } %}
    {% include "default/components/featured_challenges.html.twig" %}
    {% include "default/components/how_it_works.html.twig" %}
{% endblock body %}
