{% extends "::base.html.twig" %}

{% block body %}
    <section>
        <header class="row section-heading">
            <h2 class="section-header">Privacy Policy</h2>
        </header>
    </section>
{% endblock %}