<div class="large-4 columns">
    <div class="challenge">
        <img class="challenge-thumbnail">
        <div class="challenge-details">
            <a href="{{ path('challenge', {'slug': challenge.slug}) }}">
                <h3 class="challenge-name">{{ challenge.name }}</h3>
            </a>
            <div class="challenge-detail detail row">
                <div class="detail-name large-6 columns">Earnings pool</div>
                <div class="detail-name large-6 columns text-right">{{ challenge.prize|currency|raw }}</div>
            </div>
            <div class="challenge-detail detail row">
                <div class="detail-name large-6 columns">Time left</div>
                <div class="detail-name large-6 columns text-right">{{ challenge_datediff(challenge) }}</div>
            </div>
        </div>
    </div>
</div>