<section class="stats slanted-bottom right">
    <div class="row">
        <div class="stat medium-4 columns">
            <div class="stat-name">Paid out</div>
            <div class="stat-value">{{ 125000|currency }}</div>
        </div>
        <div class="stat medium-4 columns">
            <div class="stat-name">Earnings pool</div>
            <div class="stat-value">{{ 30000|currency }}</div>
        </div>
        <div class="stat medium-4 columns">
            <div class="stat-name">Next challenge</div>
            <div class="stat-value">4 days</div>
        </div>
    </div>
</section>