<section class="section challenges">
    <header class="row section-header text-center">
        <h2 class="section-heading">{% trans %}challenge.new{% endtrans %}</h2>
    </header>
    <div class="row">

        {% for challenge in newest_challenges %}
            {% include 'challenge/components/featured_challenge.html.twig' with {'challenge': challenge} %}
        {% endfor %}

    </div>
    <div class="row text-center challenges-actions">
        <a class="button large" href="{{ path('challenge_list_page') }}">View all challenges</a>
    </div>
</section>
