<section class="section how-it-works slanted-top left">
    <div class="row">
        <div class="medium-6 columns">
            <header class="section-header">
                <h2 class="section-heading">How it works</h2>
            </header>
            <div>
                <p class="center text">Earning money through {{ platform.name }} is easy as pie. The only thing you
                    have to do is sign up for a challenge and start posting stuff using the hash tag for the
                    challenge.</p>
                <p class="center text">We check your posts and assign a score to them based on it’s relevance and the
                    amount of exposure your post get. The more likes / retweets / comments / etc your posts receive,
                    the higher your score.</p>
                <p class="center text">When a challenge closes, your score is compared to the scores of all other
                    players to determine your earnings.</p>
            </div>
        </div>
    </div>
</section>
