{% extends "::base.html.twig" %}

{% block body %}
    {% for challenge in challenges %}
        <a href="{{ path('challenge', {'slug': challenge.slug}) }}">
            <span>{{ challenge.name }}</span>
            <span>&euro; {{ challenge.prize }}</span>
        </a>
    {% endfor %}
{% endblock body %}