{% extends "::base.html.twig" %}

{% block body %}
    <section class="section hero">
        <div class="row text-center">
            <h1>Challenges</h1>
        </div>
    </section>
    <section class="section challenges">
        <div class="row">

            {% for challenge in challenges %}
                {% include 'challenge/blocks/featured_challenge.html.twig' with {'challenge': challenge} %}
            {% endfor %}

        </div>
    </section>
{% endblock body %}
